/* Hiên thị cho màn hình mobile */
@media screen and (max-width: 480px) {
  section .container {
    width: 100%;
    margin: 0;
  }
  /* Banner */
  #banner img {
    height: 24rem;
  }
  .text-banner {
    top: 18%;
    left: 50%;
  }
  .text-banner h1 {
    font-size: 1.6rem;
  }

  /* Navbar */
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  #nav-bar {
    margin: 1rem;
  }
  #nav-bar a:link,
  a:visited {
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: none;
  }

  /* About */
  #about .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }
  #about h1 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  #about p,
  #about li {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
  #target {
    padding: 4rem 2rem 1rem;
  }
  #personal-info {
    padding: 4rem 2rem;
  }

  /* Info */
  #job-info .container {
    grid-template-columns: 1fr;
    grid-template-rows: 40rem 30rem 24rem 21rem 22rem 32rem;
    row-gap: 1rem;
  }
  .col {
    grid-template-rows: 7rem auto;
    gap: 0;
  }
  #job-info h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  #job-info dt,
  #job-info dd,
  #job-info span {
    font-size: 1rem;
  }
  .icon-info {
    width: 4rem;
    height: 4rem;
  }
  .hobby {
    gap: 1rem;
    text-align: center;
  }
  .icon-hobby {
    width: 2rem;
    height: 2rem;
    padding: 0.8rem;
  }
  .hobby p {
    font-size: 1rem;
    font-weight: 600;
  }
  .lang p,
  .skill p {
    font-size: 1rem;
  }
  .line-1 {
    height: 0.3rem;
    width: 4rem;
  }
  .line-2 {
    height: 0.3rem;
    width: 4rem;
  }

  /* Certificate */
  #certificate h1 {
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  #certificate b,
  #certificate li {
    font-size: 1rem;
  }
  .cert {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    margin: 0 4rem;
  }
  .web {
    grid-template-rows: 60% 40%;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    border: none;
  }
  .cert ul {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d6c08d;
  }
  .cert img {
    width: 1fr;
    height: 11rem;
  }

  /* Project */
  #project h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .grid-3-cols {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin: 1rem;
    font-size: 1rem;
  }
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 17.4rem 3rem 10rem 22rem;
  }
  .proj-ab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Footer */
  #footer ul {
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 0;
    margin: 0;
  }
  #footer li {
    font-size: 1rem;
  }
  #footer i {
    font-size: 2rem;
  }
}
