/* Hiên thị cho màn hình mobile */
@media screen and (max-width: 414px) {
  section .container {
    width: 375.2px;
    margin: 0;
  }
  /* Banner */
  #banner img {
    height: 24rem;
  }
  .text-banner {
    top: 18%;
    left: 50%;
  }
  .text-banner h1 {
    font-size: 1.6rem;
  }

  /* Navbar */
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  #nav-bar {
    margin: 1rem;
  }
  #nav-bar a:link,
  a:visited {
    padding: 0.5rem 1rem;
    border: none;
  }

  /* About */
  #about .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  #about h1 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  #target {
    padding: 4rem 1rem;
  }
  #personal-info {
    padding: 4rem 1rem;
  }

  /* Info */
  #job-info .container {
    grid-template-columns: 370px;
    grid-template-rows: 43rem 31rem 27rem 22rem 23rem 33rem;
    row-gap: 1rem;
  }
  .col {
    grid-template-rows: 8rem auto;
    gap: 0;
  }
  .col h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .icon-info {
    width: 4rem;
    height: 4rem;
  }
  .hobby {
    gap: 1rem;
    text-align: center;
  }
  .hobby p {
    font-size: 1rem;
    font-weight: 600;
  }
  .lang p,
  .skill p {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 600;
  }
  .line-1 {
    height: 0.3rem;
    width: 4rem;
  }
  .line-2 {
    height: 0.3rem;
    width: 4rem;
  }

  /* Certificate */
  #certificate h1 {
    font-size: 1.5rem;
  }
  .cert {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 0 2rem 1rem;
  }
  .web {
    border: none;
  }
  .cert img {
    height: 12rem;
    padding-top: 1rem;
    border-top: 1px solid #d6c08d;
  }

  /* Project */
  #project h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  #project .container {
    width: 375.2px;
  }
  .grid-3-cols {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
  }
  .project {
    grid-template-columns: 1fr;
    grid-template-rows: 14.3rem 3rem 10rem 22rem;
  }
  .proj-ab {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Footer */
  #footer ul {
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem 0;
    margin: 0;
  }
  #footer li {
    font-size: 0.9rem;
  }
  #footer i {
    font-size: 1.5rem;
  }
}
